*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.dark {
    background-image: url(assets/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.navbar-container {
    background-color: #1a2238;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    margin-right: auto;
    display: flex;
    gap: 6px;
    padding: 4px;
}

.logo-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.logo-title {
    margin-left: 10px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.logo:hover {
    color: darkorange;
    transform: rotate(3deg);
}

.btn-cta {
    margin-right: 10px;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
    background-color: darkorange;
    border-radius: 8px;
    cursor: pointer;
}

.nav-bar .nav-ul {
    display: flex;
    padding: 20px;
}

.nav-li {
    list-style-type: none;
    padding: 10px;
}

.nav-li .nav-a {
    transition: all .5s ease 0s;
    display: inline-block;
}

.nav-li .nav-a:hover {
    color: darkorange;
    transform: rotate(2deg);
 }

.nav-a {
    color: white;
    text-decoration: none;
}


.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.description {
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.intro-img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.parallax {
    background-image: url(assets/img/a.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

.About {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: darkgray;
    padding: 25px;
}

.margin-t10 {
    margin-top: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-item {
    text-align: center;
    background-color: #f7f7f7;
    color: #000000;
    padding: 10px;
    width: 35%;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.card-title {
    font-size: 18px;
    font-weight: bolder;
}

.card-description {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 4px;
}

.card-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 6px;
    padding: 4px;
}

footer {
    bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: #1a2238;
    color: #eaeaeaea;
}

.cimg {
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    height: auto;
}

.ftext {
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: larger;
    align-items: center;
  }

  .table {
    border: 1px Solid #000000;
    background-color:  gray;
    color: white;
    width: 100%;
    text-align: center;
    height: 10vh;
    table-layout: fixed;
  }

  .th {
    align-items: center;
  }

  .tablehead {
    border: 1px solid #000000;
  }
  .ftd {
    border: 1px solid #000000;
    font-size: medium;
    font-style: normal;
    font-display: flex;
  }

@media screen and (max-width: 500px) {
    .navbar-container {
        gap: 5px;
    }

    .logo {
        gap: 1.5px;
        padding: 6px;
    }

    .logo-img {
        margin-left: 8px;
        width: 30px;
        height: 30px;
    }

    .logo-title {
        font-size: 23px;
    }

    .btn-cta {
        font-size: 18.5px;
    }

    .card {
        flex-direction: column;
        gap: 0;
    }

    .card-item {
        width: 100%;
    }

    .content-container {
        width: 100%;
        padding: 0;
    }

    .intro {
        margin-top: 20px;
    }

    .intro-img {
        padding: 0;
        max-width: none;
    }

    .nav-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #1a2238;
        z-index: 9;
    }

    .nav-li {
        font-size: 10px;
    }

    footer {
        margin-bottom: 70px;
        background-color: #070b16;
    }

    .ftd {
        font-size: 12px;
    }
}